# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store
project.xcworkspace

# WePay internal documentation, tools and private binaries
/documentation/html
/documentation/latex
/documentation/rtf
/wepay-ios-tools/
/wepay-ios-cardreader-binaries/

# Card reader libs are git-ignored by default.
/SwiftExample/Pods/WePay/G4XSwiper.framework/
/SwiftExample/Pods/WePay/RPx.framework/
/SwiftExample/Pods/WePay/RUA.framework/
/SwiftExample/Pods/WePay/RUA_MFI.framework/
/SwiftExample/Pods/WePay/RPx_MFI.framework/
/SwiftExample/Pods/WePay/RKI_MFI.framework/
/SwiftExample/Pods/WePay/TrustDefenderMobile.framework/
/SwiftExample/Pods/WePay/TrustDefender.framework/
/WePayExample/WePayExample/Libs/G4XSwiper.framework/
/WePayExample/WePayExample/Libs/RPx.framework/
/WePayExample/WePayExample/Libs/RUA.framework/
/WePayExample/WePayExample/Libs/RUA_MFI.framework/
/WePayExample/WePayExample/Libs/RPx_MFI.framework/
/WePayExample/WePayExample/Libs/RKI_MFI.framework/
/WePayExample/WePayExample/Libs/TrustDefender.framework/
/WePayExample/WePayExample/Libs/TrustDefenderMobile.framework/
/WePayExample/WePayExample/Libs/IngenicoMposSdk_MFI.framework/
/WePayExample/WePayExample/Libs/LandiSDK_MFI.framework/
/WePay/Libs/G4XSwiper.framework/
/WePay/Libs/RPx.framework/
/WePay/Libs/RUA.framework/
/WePay/Libs/RUA_MFI.framework/
/WePay/Libs/RPx_MFI.framework/
/WePay/Libs/RKI_MFI.framework/
/WePay/Libs/TrustDefender.framework/
/WePay/Libs/TrustDefenderMobile.framework/
/WePay/Libs/IngenicoMposSdk_MFI.framework/
/WePay/Libs/LandiSDK_MFI.framework/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

# Arcanist
.arcconfig
